<!-- 타임리프의 th:each 속성으로 사용한다 (= forEach 문) -->
<div th:each="str : ${list}">
	<span th:text="${str}"></span>
</div>
<div th:each="str : ${list}">
	[[${str}]]
</div>

<hr>
<table border="1" cellspacing="0" cellpadding="0">
	<tr th:each="str, loop : ${list}">			
		<td th:text="${loop.count}"></td>
		<td th:text="${str}"></td>
	</t>
</table>
<!--
	th:each="str : ${list}"
	forEach 문의 구조, (변수 : 반복대상) 의 구조이다.
	
	loop - 반복문의 속성을 가진 변수 (이름은 아무거나 상관없지만, 반복문이기에 loop 를 보통 사용)
		loop.count		: 반복의 순서 (1부터 1씩 증가한다.)
		loop.index		: 루프의 순서 (0부터 1씩 증가)
		loop.size		: 반복하는 객체의 요소 개수
		loop.first		: 반복의 첫번째 순서인 경우 true 
		loop.last		: 반복의 마지막 순서인 경우 true
		loop.odd		: 반복의 홀수번째인 경우 true
		loop.even		: 반복의 짝수번째인 경우 true
		loop.current	: 현재 대입된 객체가 무엇인가
-->

<hr>
번호 이름 나이
userList 값 꺼내기
<table border="1" cellspacing="0" cellpadding="0">
	<tr bgcolor="skyblue">
		<th>번호</th>
		<th>이름</th>
		<th>나이</th>
	</tr>
	<tr th:each="user, loop : ${userList}" align="center">
		<td th:text="${loop.count}" width="70"></td>
		<td th:text="${user.name}" width="150"></td>
		<td th:text="${user.age}" width="80"></td>
	</tr>
</table>


<hr>
<table border="1">
	<tr th:each="str, loop : ${list}">
		<td th:text="'인덱수'+${loop.index}+'번'"></td>
		<td th:text="${str}"></td>
		<td th:if="${loop.last}">마지막입니다.</td>	<!-- loop.last 가 true 일 때만, "마지막입니다." 라는 문구가 출력되었다. -->
	</tr>
</table>